* {
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

hr {
  opacity: .1;
  width: 70%;
}

.button {
  text-decoration: none;
  color: grey;
  padding: .5em 1em;
  font-size: .83em;
  font-weight: bold;
  border-radius: 2px;
  margin: 0 .3em;
}
.button:hover {
  background: #ecedf0;
  color: #6096ba;
}

.developer-card {
  width: 210px;
  border-radius: 2px;
  margin: 1em;
  padding: 1em .6em;
  background: #fbfbfb;
  border: 1px solid rgba(89, 94, 95, 0.2);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.03);
}
.developer-card #developer-status {
  color: #5cbf55;
  display: block;
  position: absolute;
  border-radius: 2px;
}
.developer-card h4 {
  margin: 1em 0;
  color: #131313;
}
.developer-card p {
  color: #4e4e4e;
  font-size: 1.22em;
}
.developer-card .developer-links a {
  text-decoration: none;
  color: grey;
  margin: 0 .4em;
  transition: 0.3s ease-out;
}
.developer-card .developer-links a:hover {
  color: #6096ba;
  opacity: .9;
}
.developer-card ul {
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
}
.developer-card ul li {
  display: inline;
  font-size: .7em;
  margin: 0 .4em;
  opacity: .76;
}
.developer-card ul li span {
  opacity: .5;
}

.developer-profile-img {
  background-size: cover;
  background-position: center;
  max-width: 100px;
  max-height: 100px;
  border-radius: 5%;
}

[data-hover] {
  position: relative;
  cursor: pointer;
}

[data-hover]:after {
  box-sizing: border-box;
  position: absolute;
  color: white;
  max-width: 110px;
  min-width: 80px;
  padding: 8px 10px;
  font-size: 12px;
  font-family: 'Open Sans';
  font-weight: bold;
  content: attr(data-hover);
  transition: 0.3s ease-out;
  opacity: 0;
  text-align: center;
  border-radius: 2px;
  z-index: 9999;
  pointer-events: none;
}

[data-hover]:hover:after {
  opacity: 1;
}

/* 
   Color styles for tooltips 
   CHANGE HOWEVER YOU WANT
*/
[data-hover].tt-default:after {
  background: #242626;
}

[data-hover].tt-info:after {
  background: #242626;
}

/* Style for tooltop that will slide to bottom */
[data-hover].hover-tt-bottom:after {
  top: 50%;
  right: 50%;
  transform: translate(50%, 0%);
}

[data-hover].hover-tt-bottom:hover:after {
  top: calc(100% + 10px);
}